

.panel {
    border-radius: 6px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 5px 45px 5px rgba(0, 0, 0, 0.13);
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
}

/*
https://drive.google.com/file/d/1wV2NpEiOUeY3sEcHXuEri7fO9tNkL86F/view?usp=sharing
https://drive.google.com/uc?export=view&id=1wV2NpEiOUeY3sEcHXuEri7fO9tNkL86F
https://drive.google.com/uc?id=1wV2NpEiOUeY3sEcHXuEri7fO9tNkL86F&export=download
<link rel="stylesheet" type="text/css" href="https://drive.google.com/uc?id=1wV2NpEiOUeY3sEcHXuEri7fO9tNkL86F&export=download">
*/
