
.panel {
	    border: none;
	    border-radius: 0px;
	    border-radius: 0px;
	    box-shadow: 0 5px 45px 5px rgba(0, 0, 0, 0.13);
	    -moz-transition: 0.25s ease-in-out;
	    -o-transition: 0.25s ease-in-out;
	}

	.panel__body .syllabus__heading {
	    font-family: Helvetica Neue;
	    font-weight: 900 !important;
	    font-size: 2.5em;
	    letter-spacing: -.05em;
	    line-height: .9em;
	}

	.syllabus__item--sub .syllabus__heading {
	    font-size: 2em;
}

@media only screen and (min-width: 768px) {
	.panel__body .syllabus__heading {
	    margin-left: -60px;
	}

	.syllabus__item--sub .syllabus__heading {
	    margin-left: -60px;
}

}
